# 19. данный файл должен храниться локально и игнорироваться в .gitignore
.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode

# Все файлы с расширением log невидимы для git
*.log